body{
    background-color: rgb(7, 47, 7);
    font-family: Tahoma, Geneva, Verdana, sans-serif;

}

.img_logo {
    width: 30%;
    margin: 7%;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr
}

.column {
    background-color: rgb(7, 47, 7);

}

h1 {
    font-size: 20px;
    color: limegreen;
    font-weight: normal;
}

.img_list {
    max-width: 25px;
    height: auto;
    float: left;
}

.icon_left{
    float: left;
}

.text_right{
    font-size: larger;
    padding-left: 25%;
}

.header_left{
    float: left;
}
.header_right{
    float: right;
    margin-top: .67em;
}

.searchbar {
    background-color: white;
    opacity: 0.5;
    margin: .35em;
    width: 90%;
    height: 30px;
    align-items: center;
    border-radius: 25px;
}

.icon_search {
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

textarea,  .username, .formerpips {
    background-color: white;
    opacity: 0.6;
    border-radius: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}




.button {
    background-color: white;
    opacity: 0.6;  
    border-radius: 15px;
    border: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-top: .67em;
    color: limegreen;
    padding: 8px 12px;
}

.button:hover {
    background-color: white;
    opacity: 0.7; 
    
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {

    font-size: 17px;
    float: left;
    width: 80%;
    background-color: white;
    opacity: 0.6;
    border: none;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    font-size: 17px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border: none;
    background: none;
  }
  
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

